
body{
<<<<<<< Updated upstream
  width: 1850px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
=======
  margin: 0;
  font-family: "Komika Text";
>>>>>>> Stashed changes
  background: white;
}

.header{
  flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  height: 410px;
}

.services{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
<<<<<<< Updated upstream
  height: 400px;
  justify-content: space-between;
=======
  height: 410px;
  justify-content: space-around;
>>>>>>> Stashed changes
}

.news{
  flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
<<<<<<< Updated upstream
  height: 800px;
  justify-content: space-between;
=======
  height: 820px;
  justify-content: space-around;
>>>>>>> Stashed changes
}

.members{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  height: 500px;
  justify-content: space-between;
}

.footer{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  height: 100px;
}

.header-menu{
  display: flex;
  width: 100%;
}

.titulo{
  display: flex;
  width: 50%;
  height: 40px;
  margin: 0;
  background: #c7d4e0;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 0;
}

.menu-opciones{
  display: flex;
  justify-content: flex-end;
  background: #ffcc99;
  list-style-type: none;
  margin: 0;
  width: 50%;
  height: 40px;
  border-radius: 0 15px 0 0;
}

.menu-opciones__elemento{
  padding: 10px;
}

.header-imagen{
  margin: 0 0 5px;
  width: 100%;
}

.header__imagen{
  width: 100%;
  height: 360px;
  border-radius: 0 0 15px 15px;
}


.servicio{
  background: #e3e3e3;
  width: 610px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0 0 5px 0;
}

.imagen-servicio{
  height: 200px;
  padding: 0 5px;
}

.servicio-imagen__elemento{
  width: 100%;
  height: 200px;
}

.texto-servicio{
  display: flex;
  flex-wrap: wrap;
  height: 200px;
<<<<<<< Updated upstream
  padding: 0 5px;
  align-content: center;
  justify-content: center;
=======
  font-size: 20px;
>>>>>>> Stashed changes
}

.texto-servicio__titulo{
  margin: 0;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.texto-servicio__enlace{
  font-size: 20pt;
}

.texto-servicio__texto{
<<<<<<< Updated upstream
=======
  width: 100%;
  margin: 0;
>>>>>>> Stashed changes
  color: black;
  text-align: center;
}



.noticias{
  background: #e3e3e3;
  display: flex;
  width: 920px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0 0 5px 0;
}

.separa-noticias__noticias{
  display: flex;
  width: 100%;
  align-items: center;
}

.imagen-noticias{
  width: 35%;
  margin: 0;
}

.noticias-imagen__elemento{
  width: 90%;
  height: 200px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15px;
  margin: 0 4px;
}

.texto-noticias{
  display: flex;
  flex-direction: column;
  width: 60%;
  color: rgb(0, 0, 0);
}

.texto-noticias__enlace{
  font-size: 20pt;
  color: rgb(0, 0, 0);
}

.noticias__enlace{
  display: flex;
  justify-content: flex-end;
}


.miembros{
  background: #e3e3e3;
  width: 365px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 0 5px 0;
}

.imagen-members{
  width: 100%;
}

.members-imagen__elemento{
  width: 100%;
  align-content: center;
  border-radius: 15px 15px 0 0;
  
}

.texto-members{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.texto-members__titulo{
  text-align: center;
<<<<<<< Updated upstream
  color: rgb(0, 0, 0);
}

.texto-members__texto{
  height: 30%;
  margin: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
=======
  font-size: 25px;
}

.texto-members__texto{
  text-align: center;
  font-size: 20px;
  
>>>>>>> Stashed changes
}


.pie-de-pagina{
  width: 100%;
  background: #e3e3e3;
  text-align: center;
  border-style: groove;
}
